<div class="contenedor text-center mt-3 mb-5">
    <h1>Ciberseguridad para Dummies</h1>
</div>
    <div class="row pl-5">
        <div class="col-12">
            <app-posts class=""></app-posts>
        </div>
    </div>

<div class="row text-center mt-5 pt-5">
    <div class="col-4">
        <img class="rounded-circle" width="30%" src="../../../assets/profiles/neider.jpg" alt="">
        <hr>
        <h3>Neider Neme</h3>
        <ul>
            <li>Ing. de Sistemas</li>
            <li>Esp. en Ciberseguridad</li>
            <li></li>
        </ul>
    </div>
    <div class="col-4">
        <img class="rounded-circle" width="30%" src="../../../assets/profiles/jhon.jpg" alt="">
        <hr>
        <h3>Jhon Luna</h3>
        <ul>
            <li>Ing. de Sistemas</li>
            <li>Esp. en Ciberseguridad</li>
            <li></li>
        </ul>
    </div>
    <div class="col-4">
        <img class="rounded-circle" width="30%" src="../../../assets/profiles/cesar.jpg" alt="">
        <hr>
        <h3>Cesar Corregidor</h3>
        <ul>
            <li>Ing. Electronico</li>
            <li>Esp. en Ciberseguridad</li>
            <li>Esp. en xxxxxx</li>
        </ul>
    </div>
</div>
<style>
    ul{
        list-style: none;
    }
</style>