<div class="contenedor w-50" style="margin-left: 8rem;">
    <h2 class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, eligendi.</h2>
    <div class="contenedor2 text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kqB_w7CUbsY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <label for="" class="mt-3">
        <strong>Posteado por:</strong> <code> Neider Neme</code> - 2022-11-16
    </label>
    <label for="" style="text-align: justify;"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis quam molestias quas eos. Voluptatem omnis debitis aperiam, laudantium natus ducimus sapiente laboriosam veniam quam libero doloribus sunt nisi exercitationem soluta sit! Quibusdam totam eum distinctio maiores suscipit rem corrupti iste deleniti qui cumque facere sit quos quidem magni non earum natus veniam fuga tempore voluptate aperiam, voluptatibus ut ex quaerat. Dolorum, blanditiis error? Deserunt modi vero ab accusamus dolor eaque, obcaecati minima porro maxime officia voluptatem. Accusamus doloribus quo officia quisquam ut inventore, fugiat, mollitia nihil laudantium eos numquam error magnam reiciendis nobis hic molestias modi labore similique voluptates? Ab.</label>
    <hr>
</div>
